[Desktop Entry]
Exec=/home/mikl/programs/shutdown-reboot.sh
Type=Application
Name=Reboot
Terminal=false
Icon=/home/mikl/programs/reboot-icon.png
StartupNotify=false
